#announcementsArea{
    color: white;
    width: 80vw;
    margin-left: 10vw;
}
#announcements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#announcementsAreaContent{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}
.projectCard{
    flex-basis: 45%;
    padding: 10px;
}
.titleContent{
    display: flex;
    justify-content: space-between;
}
.announcementDescription {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.annModalTitle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}